h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
}

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    color: #fff;
}

li {
    display: inline;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #777;
}

li a { 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #ccc;
    text-decoration: none;
}

.pageContent {
    padding: 20px 0px 20px 0px;
}

/* Background image */

body {
   background: url("./assets/images/dust_scratches.png") repeat;
   margin: 0px;
}

/* header styles */

header {
    width: 100%;
    background: #fff;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #cccccc;
}

.headerContent {
    width: 960px;
    margin: auto;
}

.name {
    float: left;
    background: #4aaaa5;
    padding: 10px;
    color: #fff;
}

ul {
    float: right;
    padding: 20px;
}

li.divider {
    color: #ccc;
    padding: 0px 10px 0px 10px;
}

.clear {
    clear: both;
}

/* page content */

.pageContent {
    width: 960px;
    margin: auto;
}

section {
    float: left;
    width: 650px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    margin: 20px 20px 20px 0px;
}

.picture {
    float: left;
    margin: 20px 20px 20px 0px;
}

.sectionContent {
    padding: 20px;
}

/* aside sytyling */

aside {
    float: right;
    width: 270px;
    background: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    margin: 20px 0px 0px 0px;

}

.asideContent {
    padding: 20px;
}

.aboutMe {
    width: 100%;
    background: #fff;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #cccccc;
    color: #4aaaa5;
}

.connectWithMe {
    width: 100%;
    background: #fff;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #cccccc;
    color: #4aaaa5;
}

.socialIcons { 
    margin: 10px 0px 10px 0px ;
}

/* footer content */

footer {
    width: 100%;
    height: 100px;
    background: #666666;
    border-top-style: solid;
    border-width: 5px;
    border-color: #4aaaa5;
    text-align: center;
}

.copyright {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ccc;
    margin: 20px;
}

/* form styling */

form {
   width: 100%;
}

input {
    width: 100%;
}

input[name="message"] {
    height: 150px;
}

input[type="submit"] {
    height: 150px;
}

.button {
    background-color: #4aaaa5;
    padding: 15px 30px 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



/* portfolio styling */

.portfolio {
    padding-top: 20px;
}

.itemL {
    display: inline-block;
    background-size: cover;
    width: 283px;
    height: 200px;
    margin: 20px 20px 20px 0px;
}

.itemR {
    display: inline-block;
    background-size: cover;
    width: 283px;
    height: 200px;
    margin: 20px 0px 20px 20px;
}

.itemSpacing {
    padding-top: 120px;
}

.itemText {
    text-align: center;
    background: #4aaaa5;
    padding: 3px 0px 3px 0px;
}